<html>
    <head>
        <title>ClaimSync - Pending Claims</title>
        <style>
                 body {
            background-color: #FFFFFF;
            color: #333333;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #000000;
            padding: 10px;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .home-button {
            background-color: #007BFF;
            color: #FFFFFF;
            border: none;
            padding: 5px 10px;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #007BFF;
            color: #FFFFFF;
        }

        tr:nth-child(even) {
            background-color: #EDF5FF;
        }

        .actions-form {
            display: flex;
            align-items: center;
        }

        .actions-form input[type="submit"] {
            margin: 5px;
            padding: 5px 10px;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
        }

        .actions-form input[type="submit"].approve {
            background-color: #28A745;
        }

        .actions-form input[type="submit"].reject {
            background-color: #DC3545;
        }

        .actions-form input[type="text"] {
            background-color: #FFFFFF;
        }
        </style>
    </head>
    <body>
        <h1>
            Pending claims
            <button class="home-button" onclick="window.location.href='/';">Home</button>
        </h1>
        <table border="1px solid pink">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee name</th>
                    <th>Vendor</th>
                    <th>Purchase Type</th>
                    <th>Claim Date</th>
                    <th>Receipt</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <%for(const row of data){ _%>
                <tr>
                    <td><%= row.claim_id %> </td>
                    <td><%= row.employee_name %> </td>
                    <td><%= row.vendor_name_expanded %> </td>
                    <td><%= row.purchase_type %> </td>
                    <td><%= new Date(row.claim_date).toLocaleString({timeZone:"Asia/Kuala_Lumpur"}) %> </td>
                    <td><a href="/api/manager/<%=row.receipt_picture%>" target="_blank">Receipt</a></td>
                    <td>
                        <form class="actions-form" method="post">
                            <input type="hidden" name="claim_id" value="<%=row.claim_id%>"/>
                            <input type="text" name="remarks" value="<%=row.remarks%>" placeholder="Remarks"/>
                            <input type="submit" name="submit" value="approve" class="approve"/>
                            <input type="submit" name="submit" value="reject" class="reject"/>
                        </form>
                    </td>
                </tr>
            <% } _%>
        </tbody>
    </table>
    <% if(data.length == 0) { _%>
        <p>Nothing pending</p>
    <% } _%>
    <% if(typeof error_message === "string") { _%>
        <script>alert(`<%=error_message%>`)</script>
    <% } _%>
</body>
</html>